@use '@/styles/library.module';

.navListBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: library.$darkestColor linear-gradient(60deg,
  library.$yellowColor 5%,
  library.$pinkColor,
  library.$cyanColor 30%,
  library.$darkBlueColor 40%,
  library.$darkestColor 50%,
  library.$darkBlueColor 60%,
  library.$cyanColor 70%,
  library.$pinkColor 85%,
  library.$yellowColor 95%);
  background-size: auto auto;
  background-size: 300% 100%;
  transition: transform 0.8s,
    color 0.3s,
    background-position-x 0.7s;
  transition-delay: 0s,
    0.2s,
    0s;
}

.mobileNavButton {
  width: 40px;
  height: 42px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  margin-top: 15px;
  z-index: 99;

  @media (max-width: library.$md) {
    display: inline-block;
  }

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: library.$lightestColor;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
}

.mobileNavButtonBars {
  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    top: 13px;
    opacity: 1;
  }

  span:nth-child(3) {
    top: 26px;
  }
}

.mobileNavButtonBarsActive {
  span:nth-child(1) {
    top: 13px;
    transform: rotate(135deg);
  }

  span:nth-child(2) {
    top: 13px;
    opacity: 0;
    left: -25px;
  }

  span:nth-child(3) {
    top: 13px;
    transform: rotate(-135deg);
  }
}

.headerTitle {
  padding: 0;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  width: 100%;
  display: inline-block;
}

.navbar {
  min-height: 70px;
  padding: 0;
  box-shadow: none;
  background: library.$darkestColor;

  &[class~="scrolling"] {
    background: library.$darkColor !important;
    box-shadow: library.$shadow !important;

    [class~="nav-collapse"] {
      border-bottom: none !important;

      [class~="nav-item"] {
        background-color: library.$darkColor !important;
      }
    }
  }

  [class~="container"] {
    padding-left: 15px !important;
    padding-right: 15px !important;

    [class~="nav-collapse"] {
      width: auto;
      border-bottom: library.$border;

      @media (max-width: library.$md) {
        display: flex;
        visibility: hidden;
        opacity: 0;

        &[class~="active"] {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: library.$md) {
    &[class~="scrolling"] {
      [class~="nav-collapse"] {
        border-bottom: none !important;

        [class~="nav-item"] {
          background-color: library.$darkestColor !important;
        }
      }
    }

    [class~="nav-collapse"] {
      width: 100vw !important;
      height: 100%;
      margin-left: auto;
      margin-top: 50px;
      padding-top: 60px;
      top: 0;
      left: 0;
      z-index: 99;
      position: fixed;
      background-color: library.$darkestColor;
      border: none !important;
    }
  }
}

.navContent {
  width: auto;
  margin: 1rem;
  position: relative;

  [class~="navbar-nav"] {
    position: relative;

    [class~="nav-item"] {
      word-break: keep-all;
      text-transform: uppercase;
      color: library.$lightColor !important;
      background-color: library.$darkestColor;
      padding: 0 !important;
      cursor: pointer;
      display: block;
      position: relative;

      [class~="nav-link"] {
        padding: 7px 25px !important;
        color: library.$lightColor !important;

        &[class~="active"],&:active {
          color: library.$lightestColor !important;
        }
      }

      &:hover,&:focus {
        /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
        background-color: transparent !important;
        border: none;

        [class~="nav-link"] {
          color: library.$lightestColor !important;
        }
      }
    }
  }

  @media (max-width: library.$md) {
    width: 100%;
    height: 100%;
    right: auto;
    margin: 0;
    padding: 0;

    [class~="navbar-nav"] {
      flex-direction: column !important;

      [class~="nav-item"] {
        text-align: center;
        font-size: 1.5rem;
        border-bottom: library.$border;
        padding: 20px 40px;

        &:first-child {
          border-top: library.$border;
        }

        &[class~="active" ],&:active,&:hover,&:focus {
          /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
          background-color: transparent;
          color: library.$lightestColor !important;
        }
      }
    }
  }
}