@use '@/styles/library.module';

.button {
  button,a {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.5;
    padding: 7px 25px;
    box-shadow: none !important;
    display: inline-block;
    margin: 15px 0;
    text-decoration: none;
    border-radius: 0;
    border: none !important;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    color: library.$darkColor !important;
    cursor: pointer;
    outline: 0;
    background: library.$darkestColor linear-gradient(60deg,
    library.$lightestColor,
    library.$lightestColor 25%,
    library.$yellowColor 30%,
    library.$pinkColor 45%,
    library.$cyanColor 60%,
    library.$darkBlueColor 75%,
    library.$darkestColor 90%,
    library.$darkestColor);
    background-size: auto auto;
    background-size: 505% 100%;
    background-position-x: 0%;
    transition: transform 0.8s, color 0.3s, background-position-x 0.7s;
    transition-delay: 0s, 0.2s, 0s;

    &:hover,&:active {
      color: library.$lightestColor !important;
      background-position-x: 90%;
    }

    &:disabled {
      cursor: not-allowed !important;
      background: library.$mediumDarkColor !important;
      color: library.$mediumLightColor !important;
    }
  }
}