$lightestColor: #ddd;
$lightColor: #999;
$mediumLightColor: #777;
$mediumDarkColor: #333;
$darkColor: #171717;
$darkestColor: #111;
$borderColor: #222;
$darkBlueColor: rgb(0 51 128 / 75%);
$cyanColor: rgb(61 225 255 / 75%);
$pinkColor: rgb(255 49 175 / 75%);
$yellowColor: rgb(255 210 101 / 75%);

$border: 1px solid $borderColor;
$shadow: 0 0 20px rgb(0 0 0 / 80%);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

:export {
  lightestColor: $lightestColor;
  lightColor: $lightColor;
  mediumLightColor: $mediumLightColor;
  mediumDarkColor: $mediumDarkColor;
  darkColor: $darkColor;
  darkestColor: $darkestColor;
  borderColor: $borderColor;
  darkBlueColor: $darkBlueColor;
  cyanColor: $cyanColor;
  pinkColor: $pinkColor;
  yellowColor: $yellowColor;
}