@use 'library.module';

body {
  min-height: 100%;
  min-width: 100%;
  background-color: library.$darkestColor;
  z-index: -1;
  display: flex;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-body {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding-top: 140px;
  position: relative;
}

h1 {
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: library.$darkestColor linear-gradient(80deg,
  library.$yellowColor 4%,
  library.$pinkColor 8%,
  library.$cyanColor 20%,
  library.$darkBlueColor 85%);
  background-size: 100% 100%;
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  color: transparent;
  background-clip: text;

  @media (max-width: library.$xl) {
    font-size: 3.2rem;
  }

  @media (max-width: library.$lg) {
    font-size: 2.5rem;
  }

  @media (max-width: library.$md) {
    font-size: 9vw;
  }

  @media (max-width: library.$sm) {
    font-size: 30px;
  }
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: 100 !important;
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: library.$lightestColor;

  @media (max-width: library.$lg) {
    font-size: 2.2rem;
  }

  @media (max-width: library.$md) {
    font-size: 1.5rem;
  }

  @media (max-width: library.$sm) {
    font-size: 18px;
  }
}

h3 {
  font-size: 26px !important;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: library.$lightestColor;
  padding: 0;
  margin: 0;

  @media (max-width: library.$xl) {
    font-size: 2vw !important;
  }

  @media (max-width: library.$md) {
    font-size: 22px !important;
  }
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: library.$lightColor;
  margin: 0;

  @media (max-width: library.$lg) {
    font-size: 2vw;
  }

  @media (max-width: library.$md) {
    font-size: 4vw;
    width: 80%;
  }

  @media (max-width: library.$sm) {
    font-size: 22px;
  }
}

h4 {
  font-size: 20px;
  letter-spacing: 0.03em;
  color: library.$lightestColor;
  padding: 0;
  margin: 0;
}

h6 {
  font-family: Roboto, sans-serif;
  font-weight: 100 !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.03rem !important;
  line-height: 2rem !important;
  margin-bottom: 0 !important;
  color: library.$lightestColor;

  @media (max-width: library.$md) {
    font-size: 1.5rem !important;
  }

  @media (max-width: library.$sm) {
    font-size: 20px !important;
    line-height: 2rem !important;
  }
}

p,label {
  font-size: 18px;
  line-height: 1.5em;
  color: library.$lightColor;
}

small,.text-muted {
  color: library.$mediumLightColor !important;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.07em;
  font-size: 16px;
}

a,a span {
  text-decoration: none !important;
  color: library.$cyanColor !important;

  &:hover {
    color: library.$pinkColor !important;
  }

  &:active {
    color: library.$mediumDarkColor !important;
  }

  &:focus {
    color: library.$cyanColor;
  }
}

img {
  height: auto;
  width: 100%;
}

#__next {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

footer {
  padding-bottom: 40px;
  width: 100%;
  top: 100%;
}

.cover {
  height: 100%;
  align-content: center;
  align-items: center;
  margin-top: -40px;

  @media (max-width: library.$md) {
    text-align: center;
  }
}

.section {
  position: relative;
  box-shadow: library.$shadow;
  background-color: library.$darkColor;
  margin-bottom: 40px;

  &.form-section {
    width: 460px;
    display: table;
    float: right;

    @media (max-width: library.$md) {
      width: 100%;
    }
  }
}

.article {
  padding: 40px 40px 35px;
  width: 100%;

  li {
    padding: 15px 0 5px;
  }
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;

  /* is 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.alert {
  text-align: center;
  color: library.$cyanColor !important;
  margin-bottom: 0;
}

.container {
  min-height: 100%;
  width: 1440px;
  position: relative;

  @media (max-width: library.$xl) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: library.$lg) {
    max-width: 100% !important;
  }

  @media (max-width: library.$md) {
    .col-xl-4,.col-lg-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

form {
  input {
    outline: none !important;
    border-radius: 0 !important;
    background-color: library.$darkestColor !important;
    color: library.$mediumLightColor !important;
    border: #1b1b1b !important;

    &:hover,&:focus {
      background-color: library.$darkestColor !important;
      border: #1b1b1b !important;
      color: library.$mediumLightColor !important;
      box-shadow: none !important;
    }

    &::placeholder {
      color: library.$mediumDarkColor !important;
    }
  }

  textarea {
    outline: none !important;
    border-radius: 0 !important;
    background-color: library.$darkestColor !important;
    height: 180px;
    color: library.$mediumLightColor !important;
    border: #1b1b1b !important;

    &:hover,&:focus {
      background-color: library.$darkestColor !important;
      color: library.$mediumLightColor !important;
      border: #1b1b1b !important;
      box-shadow: none !important;
    }

    &::placeholder {
      color: library.$mediumDarkColor !important;
    }
  }

  small {
    width: 100%;
    min-height: 30px;
    float: right;
    text-align: right;
    color: library.$yellowColor !important;
  }

  button {
    margin: 20px 0;
  }

  .alert {
    padding-bottom: 0;
  }
}

.scroll-element {
  bottom: 100px;
  position: absolute;
  top: -120px;
  width: 0;
}

.form-control {
  font-size: 18px;
}

.card-columns {
  column-count: 3;
  width: 100%;
  padding-bottom: 25px;

  @media (max-width: library.$md) {
    column-count: 2 !important;
    margin: 0;
  }

  @media (max-width: library.$sm) {
    column-count: 1 !important;
    margin: 0;
  }
}