@use '@/styles/library.module';

.wrapper {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -999;
  top: 0;
  left: 0;
}

.canvas {
  background: library.$darkestColor
}